Christopher J. Markiewicz <effigies@gmail.com>
Christopher J. Markiewicz <effigies@gmail.com> <effigies@bu.edu>
Christopher J. Markiewicz <effigies@gmail.com> <markiewicz@stanford.edu>
Mathias Goncalves <goncalves.mathias@gmail.com>
Mathias Goncalves <goncalves.mathias@gmail.com> <mathiasg@mit.edu>
Mathias Goncalves <goncalves.mathias@gmail.com> <mathiasg@stanford.edu>
Oscar Esteban <code@oscaresteban.es>
Oscar Esteban <code@oscaresteban.es> <oesteban@stanford.edu>
