name: Pytest

on:
  push:
    branches: [ '*' ]
    tags: [ '*' ]
  pull_request:
    branches: [ master, 'maint/*' ]

defaults:
  run:
    shell: bash

env:
  FORCE_COLOR: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ 'ubuntu-latest' ]
        python-version: [ '3.10', '3.11', '3.12', '3.13' ]
        dependencies: [ 'latest', 'pre' ]
        include:
        - os: ubuntu-latest
          python-version: '3.12'
          dependencies: 'min'

    env:
      DEPENDS: ${{ matrix.dependencies }}

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: recursive
        fetch-depth: 0
    - uses: actions/cache@v4
      with:
        path: ~/.cache/templateflow
        key: templateflow-v1
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y --no-install-recommends graphviz
    - name: Set up Python ${{ matrix.python-version }}
      uses: astral-sh/setup-uv@v7
      with:
        python-version: ${{ matrix.python-version }}
    - name: Display Python version
      run: uv run python --version
    - name: Install tox
      run: |
        uv tool install --with=tox-uv --with=tox-gh-actions tox
    - name: Show tox config
      run: tox c
    - name: Run tox
      run: tox -v --exit-and-dump-after 1200
    - name: Minimize uv cache
      run: uv cache prune --ci
      if: ${{ always() }}
    - uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
      if: ${{ always() }}
