name: Style check

on:
  push:
    branches: [ '*' ]
    tags: [ '*' ]
  pull_request:
    branches: [ master, 'maint/*' ]

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  build:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9']

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 1  # Only fetch the latest commit
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install black isort
    - name: black code formatting check
      run: |
        black --check nibabies/
    - name: isort formatting check
      run: isort nibabies/ --check-only
